.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    margin-top: 5rem;
    /* margin-left: 20rem; */
    gap:1rem
}
.div-1{
    margin-left: 1rem;
    background-color: #3F4A4F;
    color: #FFC000;
    width: 50%;
}

.div-2{
    margin-left: 6rem;
    background-color: #FFC000;
    color: #3F4A4F;
    width:50%;
}
.div-3{
    margin-left: 11rem;
    background-color:#00B0F0 ;
    color: #3F4A4F;
    width: 50%;
}
.div-4{
    margin-left: 16rem;
    background-color: #3F4A4F;
    color: #FFC000;
    width: 50%;
}
.div-5{
    margin-left: 22rem;
    background-color:  #FFC000;
    color: #3F4A4F;
    width: 50%;
}   

.sub-div{
    /* width: 80%; */
    height: 6rem;
    border-radius: 0 1rem 1rem 0;
    padding: 0.3rem;
    animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    transition: all 0.3s ease-in-out;
}
    /* width: 80%; */
    .sub-div:hover{
        transform: scale(1.1);
    }
.com-p{
    font-size: x-large;
}
.com-h3{
    font-size: 2rem;
}