.service-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
    /* flex-wrap: wrap; */
}
.service-title{
    font-size: 3rem;
}
.service-img{
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 5%;
}
.service-paper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    width: 30%;
    height: auto;
}
.service-paper:hover{
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s;
    color:#3f4a4f;
    background-color: #ffbf00c2;
}
.service-heading{
    font-size:xx-large;
    text-align: center;
    text-wrap: wrap;
    font-weight: 400;
    /* margin-right: 50%; */
}

@media (max-width:767px){
    .service-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-title{
        font-size: 2rem;
    }
    .service-paper{
        width: 50%;
        height: auto;
        padding: 1rem;
    }
    .service-heading{
        font-size: 1.5rem;
    }
    

}

@media  (min-width: 768px) and (max-width: 1023px){

}