.service-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100vw;
    /* flex-wrap: wrap; */
}
.boxesss{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.service-title{
    font-size: 2.5rem;
}
.service-img{
    width: 80%;
    height: 80%;
    padding: 0.5rem;
}
.service-paper{
    display: flex;
   
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    width: 15rem; /* Set a fixed width */
    height: 250px; 
}
.service-paper:hover{
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s;
    color:#3f4a4f;
    background-color: #c8d1da;
}
.service-paper div{
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
}
.service-heading{
   
    font-size:1.2rem;
    text-align: center;
    text-wrap: nowrap;
    font-weight: 400;
    /* margin-right: 50%; */
}


@media (max-width:767px){
    .boxesss{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-title{
        font-size: 2rem;
    }
    .service-paper{
        width: 50%;
        height: auto;
        padding: 1rem;
    }
    .service-heading{
        font-size: 1rem;
    }
    

}

@media  (min-width: 768px) and (max-width: 1023px){

}